a {
  text-decoration: none;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content :center;
  padding: 0;
}
header nav ul li {
  padding: 0.5em;
}

aside ul {
  list-style: none;
}
aside ul li {
  padding: 0.5em;
}

@media screen and (min-width: 700px) {
  body {
    display: flex;
  }
  header nav ul {
    display: block;
  }
  main, header, aside {
    padding: 1em;
  }
}
